@use "../../assets/style/_variables.scss" as *;

.age-verification {
  background-image: linear-gradient($main-color-1, $main-color-2);
  &__wrapper {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  &__title {
    font-size: 30px;
    text-transform: uppercase;
  }
  &__img {
    width: 200px;
    height: 200px;
  }
  &__subtitle {
    font-weight: bold;
    font-size: 18px;
  }
}
