@use "../../assets/style/_variables.scss" as *;

.promotional-banner {
  background-image: linear-gradient($main-color-1, $main-color-2);
  margin: 140px 0 100px 0;
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  &__img {
    width: 520px;
    height: 520px;
    position: relative;
    bottom: 50px;
  }
  &__info {
    text-align: right;
  }
  &__title {
    font-size: 30px;
    text-transform: uppercase;
  }
}

.game-banner {
  margin: 100px 0;
  height: 500px;
  background-image: url(../../assets/images/game-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    height: 500px;
    text-align: center;
  }
  &__title {
    font-size: 30px;
    text-transform: uppercase;
  }
  &__subtitle {
    font-size: 18px;
  }
  &__btn {
    width: 500px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    font-weight: bold;
    padding: 10px 100px;
    border-radius: 5px;
    background-image: linear-gradient($main-color-1, $main-color-2);
    &:hover {
      border: 2px solid black;
      outline: 2px solid #fff;
      color: #fff;
    }
    &:focus {
      border: 2px solid black;
      outline: 2px solid #fff;
      color: #fff;
    }
  }
}

.advantages {
  padding: 100px 0;
  &__content {
    background-image: linear-gradient($main-color-1, $main-color-2);
    padding: 30px 10px;
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  &__title {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
    font-size: 30px;
  }
  &__subtitle {
    font-size: 24px;
    margin-bottom: 10px;
  }
}

.about {
  padding: 100px 0;
  background: url(../../assets/images/crab.png);
  background-position: 50% 40%;
  background-size: cover;
  background-repeat: no-repeat;
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  &__title {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
  }
  &__text {
    font-size: 18px;
  }
  &__subtitle {
    font-weight: bold;
    font-size: 20px;
  }
  &__img {
    width: 200px;
    height: 200px;
  }
}
