@use "../../assets/style/_variables.scss" as *;

.footer {
  background-image: linear-gradient($main-color-1, $main-color-2);
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__icon-img {
    width: 80px;
    height: 80px;
  }
  &__nav {
    display: flex;
    gap: 40px;
  }
  &__link {
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    transition: 0.3s all ease;
    &:focus {
      padding: 5px 10px;
      border-radius: 5px;
      border: 2px solid black;
      outline: 2px solid #fff;
      color: #fff;
    }
    &:hover {
      padding: 5px 10px;
      border-radius: 5px;
      border: 2px solid black;
      outline: 2px solid #fff;
      color: #fff;
    }
  }
  &__description {
    text-align: center;
    width: 600px;
    margin: 30px auto;
  }
}
